
body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   font-style: normal;
   margin: 0;
}



/*------------------------------ Header----------------------------- */



.header{
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 3px 0px;  
    z-index: 1;
}
.header::before{
  background-color: transparent;
}

.decoration a{
    text-decoration: none;
    color: darkgray;
}

.logo{
    padding-left: 15px;
    padding-top:15px;
    height: 20px;
    width: 110px;
}

nav {
    float: right;
}

nav li{
    text-align: center;
    float: left;
    list-style-type: none;
    overflow: hidden;
    padding: 0px 25px;
    padding-bottom: 15px;
}

nav li :hover{
    color: black;
    border-bottom: 1px solid darkcyan;
}

@media screen and (max-width: 600px){
    .logo{
        align-items: center;
        margin: 0;
        top: 0;
    }
    .header{
        text-align: center;
        position: fixed;

    }
    nav{
        align-items: center;
        left: 0;
        float: none;
    }
    .header nav ul{
        margin-top: 30px;
        font-size: 12px;
    }
}



/*------------------------------ Home----------------------------- */



.top{
  padding-top: 250px;
  padding-left: 250px;
}

.maintext{
  font-size: 60px;
}

.get-started{
  font-size: 24px;
  padding: 10px;
  font-weight: 400;
  color: black;
  border: 1px solid;
  border-radius: 50px;
  border-color: darkcyan;
  margin-top: 20px;
  text-decoration: none;
}

.get-started:hover{
  color: darkslategrey;
  border-bottom: 1px solid darkcyan;
  text-decoration: none;
  background-color:#A1D5E2;
}

.sub{
  font-size: 28px;
  margin-bottom: 50px;
}

.home{

    background-image: url(assets/back.png);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}




/*------------------------------ About----------------------------- */



.about{
  width: 100%;
  padding-top: 80px;
  height: 100vh;
}

.title{
  width: 150px;
    text-transform: uppercase;
    font-size: 24px;
    transform: rotate(-90deg);


  }
  
@media screen and (max-width:768px){
  .about{
    width: 50%;
  }
  .title{
    transform: rotate(0deg);
    text-align: center;
    }
  .content{
  width: 40%;
  padding-left: 75px;
}

.post{
  width: 50%;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 10px;
}

.left{
  width: 50%;
  float: left;
  text-align: right;
  margin-right: 15px;
}

.right{
  width: 50%;
  text-align: left;
  padding-left: 50%;
  margin-left: 15px;
}


.middle{
  margin-bottom: 25px;
}
}

.content{
  width: 80%;
  padding-left:  290px;
}

.post{
  width: 100%;
  padding-bottom: 25px;
  padding-top: 10px;
  font-size: 20px;
}

.left{
  width: 50%;
  float: left;
  margin-right: 30px;
}

.right{
  width: 50%;
  text-align: left;
  padding-left: 50%;
  margin-left: 30px;
}


.middle{
  margin-bottom: 50px;
}



/*------------------------------ Services----------------------------- */



#services{
  width: 100%;
  height: 100vh;
}

  .services-section{
    
    background-size: cover;
    padding: 60px 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
  }
  .section-title{
    padding: 130px 0px;
    width: 150px;
    transform: rotate(-90deg);
      text-transform: uppercase;
      font-size: 24px;
  }
  .border{
    width: 160px;
    height: 2px;
    background: #82ccdd;
    margin: 40px auto;
  }
  .service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .scontain{
    width: 88%;
    float: right;
  }
  
  .service-box{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #000;
    cursor: pointer;
  }
  
  .service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    color: #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
  }
  .service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
  }
  .service-box:hover .service-icon{
    background: #82ccdd;
    color: #ddd;
  }
  .service-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .service-desc{
    font-size: 14px;
  }
  
  @media screen and (max-width:960px) {
    .service-box{
      max-width: 45%;
    }
  }
  
  @media screen and (max-width:768px) {
    .service-box{
      max-width: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .service-box{
      max-width: 100%;
    }
  }



/*------------------------------ Blog----------------------------- */



#blog{
  height: 100vh;
  padding: 70px 0px;
}

.blog-title{
  width: 150px;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  transform: rotate(-90deg);
}
@media screen and (max-width:768px){
  .blog-title{
    transform: rotate(0deg);
    }
  
}

.container {
  padding-top:  50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
}





.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}
.card  article {
    padding: 20px;
    flex: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
 .card h1 {
    font-size: 18px;
    margin: 0;
    color: #333;
  }
  
.card  p {
    flex: 1;
    line-height: 1.4;
  }
  
.card  span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
  
 .card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

  @media (max-width: 768px) {
    .item{
        float: left;
    }
    
    h1 {
      font-size: 24px;
    }
  }


  @media (min-width: 768px) {
    .band {
      margin: 0 auto;
      display: grid;
      height: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 991px) {
    h1 {
      font-size: 24px;
    }
    
    .band {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 20px;
      grid-template-columns: repeat(4, 1fr);
    }

  }


  
/*------------------------------ Footer----------------------------- */



footer {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    color: grey;
}
footer .footer{
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-gap: 20px;

}
footer .footer .sec h2{
  content: '';
  position: relative;
  color: #000;
  font-weight: 500;
  margin-bottom:15px ;
  
}
footer .footer .sec h2::before{
  content: '';
  position: absolute;
  bottom:-5px ;
  left: 0;
  width: 50px;
  height: 2px;
  background:#000;

}
footer .footer .sec p{
color:#000;
text-align: justify;
padding-right: 75px;
}
.social-icon{
  margin-top: 20px;
  display:grid;
  grid-template-columns:repeat(5, 50px) ;
  grid-gap: 10px;
  padding: 0px;

}
.social-icon li{
  list-style-type: none;
}
.social-icon li a{
  display: inline-block;
  width: 48px;
  height: 48px;
  background: #e4e4e4;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration:none;
  border-radius: 4px;
  
}
.social-icon li a:hover{
  background: #A1D5E2;
}
.quicklinks{
  position: relative;

}
.quicklinks li{
  list-style-type: square;;

}
.quicklinks li{
  margin-bottom: 10px;

}
.quicklinks li a{
  text-decoration: none;
  list-style: none;
  color: #000;
}
.quicklinks li a:hover{
  color: #A1D5E2;

}
.info{
  position: relative;
  padding-left: 15px;
}
.info li{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 16px;
  align-items: center;

}
.info li span:nth-child(1){
  color: #000;
  font-size: 20px;

}
.info li span{
  color:#000;
  float: left;

}
.info a{
  color:#000;
  text-decoration: none;
}
.info a:hover{
  color: #A1D5E2;
}

.copyright{
  background: #2f2f2f;
  padding: 8px 100px;
  text-align: center;
  color: #fff;
  font-size: 14px;

}

@media (max-width:991px) {
  footer{
    padding: 40px;

  }
  footer .footer{
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
  
  }
}

@media (max-width:768px) {
  footer .footer{
    padding: 50px 30px;
    display: grid;
    grid-template-columns:repeat( 1,1fr);
    grid-gap: 20px;
    
  }

  .copyright{
    background: #2f2f2f;
    padding: 8px 100px;
    text-align: center;
    color: #fff;
    font-size: 12px;
  
  }
}





